extends /layouts/_default

block content
  +icon('glasses--martini')
  h1 Starter
  h1= page_name
  p: a.btn(href="#") Button
  p: a.btn.btn-primary(href="#") Button
  p: a.btn.btn-danger(href="#") Button
  p: a.btn.is-disabled(href="#") Button
  p: a.btn.btn-outline(href="#") Button
  p: a.btn.btn-outline.is-disabled(href="#") Button

  a(href='#') this is a link

  hr

  - var posts = getData('global').posts
  ul
    each post in posts
      li
        p 標題：#[a(href=post.url)= post.title]
        p 分類：#[a(href=post.category.url)= post.category.text]

  h1= zh_lorem_sentences(2)
  p= zh_lorem_paragraphs(4)
  h2= zh_lorem_sentences(2)
  p= zh_lorem_paragraphs(4)
  h3= zh_lorem_sentences(2)
  p= zh_lorem_paragraphs(4)
  h4= zh_lorem_sentences(2)
  p= zh_lorem_paragraphs(4)
  h5= zh_lorem_sentences(2)
  p= zh_lorem_paragraphs(4)
  h6= zh_lorem_sentences(2)
  p
    = zh_lorem_paragraphs(4)
    code fake_element.dispatchEvent(fake_event);

  ul
    li= zh_lorem_sentence()
    li= zh_lorem_sentence()
    li
      = zh_lorem_sentence()
      ul
        li= zh_lorem_sentence()
        li= zh_lorem_sentence()
        li= zh_lorem_sentence()
    li= zh_lorem_sentence()
    li= zh_lorem_sentence()
  include /partials/_code
  include /partials/_form-demo
