meta(content=site.title property='og:title')
meta(content=site.name property='og:site_name')
meta(content=site.url property='og:url')

meta(content=og.image property='og:image')
meta(content=site.description property='og:description')

meta(content=og.type property='og:type')
meta(content=fb.admins property='fb:admins')
