meta(content=info.title property='og:title')
meta(content=info.name property='og:site_name')
meta(content=info.url property='og:url')

meta(content=info.og.image property='og:image')
meta(content=info.description property='og:description')

meta(content=info.og.type property='og:type')
meta(content=info.fb.admins property='fb:admins')
