doctype html
html(lang='zh-TW' class="page-#{currentPage}")
  include /data/global
  head
    block head
      include ./shared/_head
    block title
      - var star = env == 'dev' ? '★': ''
      title #{star}#{site.title}
    block keywords
      meta(name='keywords' content=site.keywords)
    block description
      meta(name='description' content=site.description)
    block og
      include ./shared/_og
  body
    include /mixin/_icon
    if isArchive
      include ./shared/_svg-sprites
    .wrapper
      if page_name
        p= page_name
      block content
    block foot
      include ./shared/_foot
